<widget-fab (click)="newGame()"
            [hide]="creatingGame"
            mini="true"
            position="left top"
            overlap="top"></widget-fab>
<div id="new-game-form" [ngClass]="{ 'new-game': creatingGame }">
  <p class="app-bar">
    <i class="material-icons" (click)="cancelNewGame()">arrow_back</i>
    <span>Choose an option</span>
  </p>
  <button (click)="createGame(true)">You go first</button>
  <button (click)="createGame(false)">Computer goes first</button>
</div>
<widget-subheader *ngIf="games && games.length"
                  [ngClass]="{ 'new-game': creatingGame }"
                  nearFab="true">Games</widget-subheader>
<ul class="games-list">
  <li *ngFor="let game of games" class="games-list-item {{ isSelected(game) ? 'games-list-item-selected' : '' }}" (click)="gameClicked(game)">
    <div class="games-list-item-icon">
      <i class="material-icons"
         (click)="deleteGame(game, $event)">{{ game.winner === undefined? 'turned_in_not' : 'close' }}</i>
    </div>
    <div class="games-list-item-text">
      <div class="games-list-item-text-primary">{{ game | statusDescription }}</div>
      <div class="games-list-item-text-secondary">{{ game | moveDescription }}</div>
    </div>
  </li>
</ul>
