/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  height: 100%;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}
